@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 40px;
  height: 40px;
}

header {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 9px 5px -7px #152a4f;
  -webkit-box-shadow: 0px 9px 5px -7px #19325e;
  -moz-box-shadow: 0px 9px 5px -7px #1a3563;
}

.titleName {
  font-size: 20px;
  font-weight: 600;
  color: #152a4f;
}

.txtTransicionNavBar:hover {
  background-color: #DFE3E7;
  color: #030316;
  border-radius: 25px;
}

.titleNameContent {
  text-align: center;
  padding: 10px 10px;
}

.sidebar-container {
  display: flex;
  position: fixed;
  top: 110px;
  left: 0;
  height: 100%;
  z-index: 1000;
}

.sidebar {
  width: 200px;
  background-color: #f8fafd;
  padding-top: 20px;
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar .sidebarUser {
  display: flex;
  justify-content: center;
  padding: 10px 20px 40px 10px;
}

.sidebar .sidebarUser .sidebarUserAvatar {
  padding: 10px 20px 0px 10px;
}

.sidebar .sidebarUser .sidebarUserName {
  padding: 10px 20px 0px 0px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  text-align: left;
  margin-left: 25px;
}

.sidebar ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sidebar ul li:hover {
  background-color: #DFE3E7;
  color: #030316;
  border-radius: 25px;
}

.content {
  margin-left: 220px;
  padding: 100px 20px; /* Ajusta este valor según la altura del header */
  transition: margin-left 0.3s ease;
}

.content.expanded {
  margin-left: 20px;
}

.toggle-btn {
  width: 30px;
  background-color: #152a4f;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.toggle-btn:hover {
  background-color: #575757;
}

.toggle-btn.collapsed {
  transform: translateX(-200px);
}

.tableContainer {
  width: 100%;
}

.demo {
  font-family: "Noto Sans", sans-serif;
}

.panel {
  background: linear-gradient(to right, #2980b9, #2c3e50);
  padding: 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
}

.panel .panel-heading {
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.panel .panel-heading .title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  margin: 0;
}

.panel .panel-heading .btn {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.panel .panel-heading .btn:hover {
  color: #fff;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}

.panel .panel-heading .form-control {
  color: #fff;
  background-color: transparent;
  width: 35%;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.panel .panel-heading .form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  outline: none;
}

.panel .panel-heading .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 500;
}

.panel .panel-body {
  padding: 0;
}

.panel .panel-body .table thead tr th {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  border: none;
}

.panel .panel-body .table tbody tr td {
  color: #000000;
  font-size: 15px;
  padding: 10px 12px;
  vertical-align: middle;
  border: none;
}

.panel .panel-body .table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.panel .panel-body .table tbody .action-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.panel .panel-body .table tbody .action-list li {
  display: inline-block;
  margin: 0 5px;
}

.panel .panel-body .table tbody .action-list li a {
  color: #000000;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:hover {
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}

.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after {
  content: attr(data-tip);
  color: #fff;
  background-color: #111;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 4px;
  text-transform: capitalize;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -32px;
  transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:after {
  content: "";
  height: 15px;
  width: 15px;
  padding: 0;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}

.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
  display: block;
}

.panel .panel-footer {
  color: #fff;
  background-color: transparent;
  padding: 15px;
  border: none;
}

.panel .panel-footer .col {
  line-height: 35px;
}

.pagination {
  margin: 0;
}

.pagination li a {
  display: inline-block;
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 31px;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0 3px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.pagination li a:hover {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .panel .panel-heading .title {
    text-align: center;
    margin: 0 0 10px;
  }
  .panel .panel-heading .btn_group {
    text-align: center;
  }
}
footer {
  margin-left: 220px;
  transition: margin-left 0.3s ease;
}

footer.expandedFooter {
  margin-left: 10px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Altura del footer */
  background-color: #f1f1f1;
  text-align: center;
  line-height: 50px; /* Alinea el texto verticalmente */
}

.footerLogins {
  margin-left: 0px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Altura del footer */
}

.htmlBodyLogins {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerScreenLogins {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.containerLogins {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 24px #1d2856;
  width: 100vh;
}

.containerLoginsLogo {
  width: 50%;
}

.screenLogoFundacion {
  display: flex;
  justify-content: center;
}
.screenLogoFundacion img {
  height: 60px;
  width: 243px;
}

.screenLogoSchool {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}
.screenLogoSchool img {
  height: 280px;
  width: 280px;
}

.containerLoginsLogin {
  width: 50%;
}

.login {
  padding: 30px;
  padding-top: 100px;
}

.loginField {
  padding: 20px 0px;
  position: relative;
}

.loginSubmit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 80%;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: 0.2s;
}

.loginSubmit:active,
.loginSubmit:focus,
.loginSubmit:hover {
  border-color: #6A679E;
  outline: none;
}

.loginIcon {
  position: absolute;
  top: 30px;
  color: #7875B5;
}

.loginInput {
  width: 90%;
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  transition: 0.2s;
}

.loginInput:active,
.loginInput:focus,
.loginInput:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.social-login {
  text-align: center;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}

.buttonIcon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5;
}

.screenContent {
  z-index: 1;
  position: relative;
}

.containerScreen {
  display: flex;
  box-shadow: 0px 0px 24px #1d2856;
}

.screen {
  background: linear-gradient(90deg, #eef0f7, #1c2756);
  position: relative;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(48deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -100px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #39498a;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #394266, #57539e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #464374;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

@media screen and (max-width: 970px) {
  .containerLogins {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .screenLogoFundacion img {
    max-width: none;
  }
  .screenLogo {
    height: 300px;
  }
  .loginSubmit {
    margin-top: 0px;
    width: 100%;
  }
  .login {
    padding-top: 0px;
  }
  .containerLoginsLogin {
    width: 100%;
    padding-top: 10px;
  }
}
.containerReverso {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  border: 2px solid black;
  width: 297mm; /* Ancho de A4 en horizontal */
  height: 210mm; /* Alto de A4 */
}

.planillaDesempenoAcademico {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px 2px 10px;
}

.planillaDesempenoAcademico h3 {
  font-size: 14px;
}

.planillaDesempenoAcademico p {
  font-size: 10px;
}

.containerCheckCiclo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.containerCheckCiclo p {
  font-size: 12px;
  margin: 2px 0px;
}

.checkCiclo {
  border: #292525 1px solid;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin: 2px 5px;
}

.ContainerEscalaCalificacion {
  display: flex;
  flex-direction: column; /* Asegúrate de que el contenido se apile verticalmente */
  align-items: flex-start;
  width: 50%;
  height: 100%;
}
.ContainerEscalaCalificacion h3 {
  margin-bottom: 0;
}
.ContainerEscalaCalificacion p {
  margin: 0px 0px;
}

.planillaMaterias {
  width: 50%;
}

.planillaInformes {
  width: 50%;
}

.planillaInformes h2, .planillaInformes p {
  margin: 0;
  padding: 5px;
}

.planillaNotas th, .planillaNotas td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  font-size: 11px;
}

.planillaNotas th {
  background-color: #f2f2f2;
}

.planillaNotas th.thAreas {
  width: 180px; /* Ajusta este valor según sea necesario para "ÁREAS" */
}

.planillaNotas th.thNotas {
  font-size: 10px;
}

.titlePlanillaNotas th {
  font-size: small;
}

.planillaNotas td.tdAreas {
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}

.planillaNotas td.tdSubAreas {
  text-align: left;
  padding-left: 30px;
}

.header th {
  background-color: white;
  border: none;
  text-align: left;
}

.planillaFirmas {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.planillaFirmas th, .planillaFirmas td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.planillaFirmas th {
  background-color: #f2f2f2;
}

.planillaFirmas td.tdTitle {
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  font-size: 11px;
  width: 180px !important;
}

.planillaFirmas td.tdSubAreas {
  padding-left: 5px;
}

.planillaObservaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px 2px;
  padding: 5px 5px;
}

.planillaObservaciones h3, p {
  font-size: 14px;
  margin-bottom: unset;
}

.planillaInformesTable {
  justify-content: center;
  margin: 22px 2px 0px 2px;
}

.boxInformes {
  border: 1px solid black;
  margin: 10px 2px;
  width: 100%;
}

.boxInformes h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: unset;
}

.planillaInformesTable .boxInformesTitle {
  padding: 5px;
  border-bottom: 1px solid black;
}

.planillaInformesTable .boxInformesDescription {
  height: 70px;
}

.planillaPromueve {
  display: flex;
  justify-content: center;
  align-items: center;
}
.planillaPromueve h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.planillaPromueve .boxRecursaPromueve {
  border: 1px solid black;
  height: 40px;
  width: 120px;
  margin: 0px 10px;
}

.planillaPeriodoComplementario {
  width: 100%;
  margin: 15px 5px;
}

.tablePeriodoComplementario th, .tablePeriodoComplementario td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.tablePeriodoComplementario th {
  background-color: #f2f2f2;
}

.obs {
  text-align: left;
  border: 1px solid black;
  height: 80px;
  padding: 5px;
}

.informe {
  border: 1px solid black;
  height: 120px;
  padding: 5px;
}

.extended, .final {
  border: 1px solid black;
  height: 60px;
  padding: 5px;
}

/* Ajusta las tablas para que no se desborden */
.planillaNotas, .tablePeriodoComplementario {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.planillaNotas th, .planillaNotas td,
.planillaFirmas th, .planillaFirmas td,
.tablePeriodoComplementario th, .tablePeriodoComplementario td {
  border: 1px solid #000;
  padding: 1px;
  word-wrap: break-word;
}

@media print {
  @page {
    size: A4 landscape; /* Orientación apaisada */
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  body * {
    visibility: hidden;
  }
  #planillaBoletin, #planillaBoletin * {
    visibility: visible;
  }
  #planillaBoletin {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
    transform: scale(1); /* Escala original */
    transform-origin: top left;
    padding: 10mm; /* Espacio para evitar recortes */
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=styles.css.map */
